header {
    background-color: #fff;
    height: 3.5rem;
    width: 100%;
    padding: 0 20%;
    border-bottom: 0.1rem solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    font-family: var(--logo-font);
    position: fixed;
    z-index: 99;

    #logo {
        padding: 0.5rem;
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        i {
            font-size: 2.5rem;
        }
    }

    nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .material-symbols-outlined {
            padding: 0 0.15rem;
            display: none;
            font-size: 2rem;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #eee;
                transition: 0.3s ease-in-out;
            }
        }

        ul {
            height: 100%;
            list-style: none;
            display: flex;
            position: relative;

            li {
                width: 100%;
                display: flex;

                a {
                    padding: 0 1.25rem;
                    color: #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &::before {
                        content: '';
                        background-color: #f5f5f5;
                        height: 0;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: 0.3s ease-in-out;
                        z-index: -1;
                    }

                    &:hover::before {
                        transition: 0.3s ease-in-out;
                        height: 100%;
                    }
                } 
            }
            img {
                height: 3rem;
                position: absolute;
                bottom: 1rem;
                display: none;
            }
        }
    }
}

/* Quando a tela tem menos que 1450px o botão de menu (i) aparece e a ul sai do cabeçalho e vira um menu de abrir */
@media screen and (max-width: 1600px) {
    header {
        nav {
            display: flex;
            flex-flow: column;

            .material-symbols-outlined {
                display: flex;
            }

            ul {
                background-color: #fff;
                width: 25vw;
                height: 100vh;
                border-left: 0.1rem solid #ccc;
                position: absolute;
                top: 0;
                right: -25vw;
                display: flex;
                flex-flow: column;
                align-items: center;
                gap: 0.25rem;
                overflow: hidden;
                pointer-events: none;
                opacity: 100;
                transition: 0.5s ease-in-out;

                &.active {
                    pointer-events: all;
                    right: 0;
                    transition: 0.5s ease-in-out;
                }

                .material-symbols-outlined {
                    background-color: #fbfbfb;
                    height: 3.5rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;

                    &:hover {
                        background-color: #eee;
                        transition: 0.3s ease-in-out;
                    }
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        width: 100%;
                        padding: 0.75rem 2.5rem;
                        z-index: 1;
    
                        &::before {
                            content: '';
                            background-color: transparent;
                            height: 100%;
                            z-index: -1;
                        }
    
                        &:hover::before {
                            transition: 0.3s ease-in-out;
                            background-color: #f5f5f5;
                        }
                    } 
                }

                img {
                    display: block;
                }
            }
        }
    }
}

/* Quando a tela tem menos que 850px o menu aumenta a largura para metade da largura visível */
@media screen and (max-width: 850px) {
    header {
        padding: 0 5%;

        nav {
            ul {
                width: 50vw;
                right: -50vw;
            }
        }
    }
}